
<%- include('parsels/header') %>
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="/images/home.jpg"  alt="..." /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light" style="font-family: 'Lobster', cursive;">Al-ispeaks</h1>
                    <p >"Check out my personal blogs here, where I share insights on the latest technology trends, showcase my achievements in the tech world, and document my personal travel experiences with engaging vlogs. Whether it's cutting-edge innovations or memorable journeys, you'll find a variety of topics that reflect both my professional growth and personal adventures......."</p>
                    <a class="btn btn-primary" href="#!">Contact Me!</a>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">check out my personal blogs here... </p></div>
            </div>
            <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        
            <% if (arr) { %>
                <% for( let values of arr) { %>
                    <div class="col-md-4 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                                
                                    <h2 class="card-title"><%=values.title %></h2>
                                    <p class="card-text"><%=values.bContent.substring(0,100)+" ..."  %></p>
                                
                               
                            </div>
                            <div class="card-footer"><a class="btn btn-primary btn-sm" href="/posts/<%= values.title%>">More Info</a></div>
                        </div>
                    </div>
                <% } %>
            <% } %>
       
     </div>
        </div>
        <!-- Footer-->
      
        <%- include('parsels/footer') %>